# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite

# Testing
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Project specific
*.wav
*.mp3
*.mp4
.windsurf